@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

.container{
    background-color:#3b3a3a;
    margin:50px auto 0px;
    padding:0px 30px 10px;
    border-radius: 2%;
    box-shadow: 0 0 15px #3b3a3a;
    width: 70%;
}
body{
    font-family: 'Poppins' sans-serif; 
    color: #f1f1f1;
}
form{
    width:100%;
}
h1{
    text-align: center;
    padding:50px 20px 20px;
    font-weight: bolder;
}
hr{
    margin:0px 30px 30px 30px;
    color:#f1f1f1;
}
.inp{
    width:40%;
    border:0;
    outline:none;
    font-size: 15px;
    border-radius: 6px;
    padding:10px;
    margin:20px 0 30px 50px;
    background-color: #ece8e8;
    color:#3b3a3a;
}
.lab{
    font-size:25px;
    margin:30px;
}
.con{
    margin:20px 30px;
    font-size:20px;
    padding:5px;
}
.dis{
    display: inline-block;
}
span{
    color:red;
    font-size: 25px;
    display: inline-block;
}
.btn{
    display:inline-block;
    padding:1rem 2.5rem;
    border:solid 2px #5ea1e0;
    border-radius:4rem;
    font-weight:700;
    background-color: #5ea1e0;
    color:#fff;
    box-shadow:0px 0px 5px #5ea1e0;
    letter-spacing: 2px;
    transition:.5s;
    margin: 40px 50px;
    font-size: 20px;
}

@media (max-width:950px){
    .inp{
        width:80%;
        margin:30px
    }
}
@media (max-width:750px){
    .btn{
        margin:40px 20px;
    }
}
@media (max-width:580px){
    .container{
        margin: 0;
        width: 100%;
        border-radius:0;
    }
    .btn{
        width: 90%;
    }
}